<h1>Liste des formations</h1>
<table border="1">
    <tr>
        <td>ID</td>
      
    </tr>
    {% for f in list %}
        <tr>
            <td>{{ f.idFormation }}</td>
          

          
        </tr>
    {% endfor %}
</table>
